body {
  -webkit-font-smoothing: antialiased;
  font-family: "freight-text-pro",sans-serif;
  color: #333333;
}

h1 {
  color: #666666;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 100;
}

h4 {
  font-weight: bold;
}

img {
	width:100%;
}

/* LINKS
--------------------------------------------------- */
a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #FF5069;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

/* HEADER
--------------------------------------------------- */
.posts-header {
  width: 720px;
  margin: 70px auto 0;
}

img.logo {
  width: 170px;
}

/* CONTENT
--------------------------------------------------- */
#container {
  width: 720px;
  margin: 0 auto;
}
