/* BASE
--------------------------------------------------- */
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: "freight-text-pro", sans-serif;
  color: #333333;
  font-size: 18px;
  height: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #666666;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  font-size: 2.55em;
  font-weight: 100;
}

h4 { font-weight: bold; }

img {
	width:100%;
}

/* LINKS
--------------------------------------------------- */
a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #FF5069;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;

}

/* HEADER
--------------------------------------------------- */
.posts-header { margin: 4.375em auto 0; }

img.logo { width: 170px; }

/* CONTENT
--------------------------------------------------- */
#container {
  width: 80%;
  margin: 0 auto;
  max-width: 720px;
}

/* LISTS
--------------------------------------------------- */

ol, ul {
  list-style-position: inside;
  margin-bottom: 30px;
}
ol {
  list-style: decimal;
  padding-left: 22px;
}
ul {
  list-style: disc;
  padding-left: 20px;
}
