/* POSTS LIST
--------------------------------------------------- */
ul.posts {
  list-style-type: none;
  margin-left:0;
}

.post .post-title {
  color: #999;
  font-size: 48px;
  font-weight: 100;
}

.post {
  border-bottom: 1px solid #ddd;
  padding: 75px 0 50px 0;
}

.post .post-intro {
  color: #666;
  font-size: 18px;
  line-height: 30px;
  margin: 12px 0 50px 2px;
}

.post-byline {
  color: #999;
  font-size: 13px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}

.post .post-author {
  margin-left: 5px;
}

.post .post-author-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  vertical-align: middle;
}

footer#container {
  font-size: 14px;
  padding: 100px 0;
  text-align: center;
}

/* POST
--------------------------------------------------- */
.post-content {
  font-size: 16px;
  line-height: 26px;
  margin-top: 50px;
  word-wrap: break-word;
}
.post-content h1 {
  font-size:34px;
  line-height:1.2;
  margin-bottom:20px;
}

.post-content p {
  margin-bottom: 30px;
}

.post-content h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.post-content a {
  border-bottom: 1px solid #CCCCCC;
}
.post-content a:hover {
  border-bottom: 1px solid #FF5069;
}

.post-content pre {
    font-family: monospace;
    overflow: scroll;
}

.share-buttons span {
  margin-bottom:8px;
}
