/* RESPONSIVE
--------------------------------------------------- */
@media screen and (max-width: 800px) {
	#container {
		padding:0 4%;
		overflow:hidden;
		width:92%;
	}
	.posts-header {
		margin-top:20px;
	}
	.post {
		padding-top:20px;
		padding-bottom:20px;
	}
	.post .post-title, .post-header h1 {
		font-size:30px;
	}
	.post-intro, .post .post-intro {
		line-height:1.2;
		margin-bottom:30px;
	}
	.post-byline {
		font-size:10px;
	}
	.post-content {
		font-size:16px;
		margin-top:30px;
	}
	.post-content h1 {
		font-size:30px;
	}
}