---
layout: default
---

<ul class="posts">
  {% for post in site.posts %}
    <li class="post">
      <article>
        <h1 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <p class="post-intro">{{ post.description }}</p>
        <div class="post-byline">
          <img class="post-author-image" src="{{ site.data.team[post.author].image}}">
          <span class="post-author">by <a href="" rel="author">{{ site.data.team[post.author].name }}</a></span>
          <span class="post-date">{% include date.html %}</span>
        </div>
      </article>
    </li>
  {% endfor %}
</ul>
