---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <h2 class="post-intro">{{ page.description }}</h2>
    {% include byline.html param=page %}
  </header>

  <article class="post-content">
  {{ content }}
  </article>
  
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "42919288-c6f6-443b-926b-c91fabb180ce", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  
  <div class="share-buttons">
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_pocket_hcount' displayText='Pocket'></span>
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_pinterest_hcount' displayText='Pinterest'></span>
    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
  </div>
  

</div>
