---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name">{{ page.title }}</h1>
    <h2 class="post-intro" itemprop="description">{{ page.description }}</h2>
    {% include byline.html param=page %}
  </header>

  <meta content="{{ site.url }}{{ page.url }}" itemprop="url" />

  <div class="post-content" itemprop="articleBody">
  {{ content }}
  </div>

  {% include mail_chimp_form.html %}
  
</article>
